<div class="savanyu-uditok-lista"> 
    <div class="savanyu-uditok-item">

      <div class="savanyu-uditok-card">
        <h3>Arizona Marvel LXR Hero Hydration Lemon Lime 473ml</h3> 
        <img src="./assets/uditokImg/Arizona Marvel LXR Hero Hydration Lemon Lime 473ml.jpg" alt="Arizona Marvel LXR Hero Hydration Lemon Lime 473ml" class="savanyu-uditok-kep">
        <p>Az Arizona Marvel LXR Hero Hydration Lemon Lime egy frissítő, szuperhős-inspirálta üdítőital, amely a citrom és lime élénk, citrusos ízét kombinálja egy alacsony cukortartalmú, elektrolitokban és vitaminokban gazdag formulával.</p> 
        <p class="ar">Ár: 2200 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="savanyu-uditok-card">
        <h3>WarHeads Sour Black Cherry Soda 355ml</h3> 
        <img src="./assets/uditokImg/WarHeads Sour Black Cherry Soda 355ml.jpg" alt="WarHeads Sour Black Cherry Soda 355ml" class="savanyu-uditok-kep">
        <p>A WarHeads Sour Black Cherry Soda egy intenzíven savanyú, fekete cseresznye ízű szénsavas üdítőital, amely a WarHeads cukorkák jellegzetes, arcfintorító savanyúságát ötvözi a gyümölcsös ízzel, egyedi és merész ízélményt nyújtva.</p> 
        <p class="ar">Ár: 990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="savanyu-uditok-card">
        <h3>Warheads Blue Raspberry Soda 355ml</h3> 
        <img src="./assets/uditokImg/Warheads Blue Raspberry Soda 355ml.jpg" alt="Warheads Blue Raspberry Soda 355ml" class="savanyu-uditok-kep">
        <p>A Warheads Blue Raspberry Soda egy intenzíven savanyú, kék málna ízű szénsavas üdítőital, amely ötvözi a Warheads cukorkák jellegzetes, arcfintorító savanyúságát a gyümölcsös ízzel, egyedi és merész ízélményt nyújtva.</p> 
        <p class="ar">Ár: 990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="savanyu-uditok-card">
        <h3>WarHeads Sour Green Apple Soda 355ml</h3> 
        <img src="./assets/uditokImg/WarHeads Sour Green Apple Soda 355ml.jpg" alt="WarHeads Sour Green Apple Soda 355ml" class="savanyu-uditok-kep">
        <p>A WarHeads Sour Green Apple Soda egy intenzíven savanyú, zöldalma ízű szénsavas üdítőital, amely ötvözi a WarHeads cukorkák jellegzetes, arcfintorító savanyúságát a frissítő almaízzel, egyedi és merész ízélményt nyújtva.</p> 
        <p class="ar">Ár: 990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="savanyu-uditok-card">
        <h3>Warheads Sour Watermelon Soda 355ml</h3> 
        <img src="./assets/uditokImg/Warheads Sour Watermelon Soda 355ml.jpg" alt="Warheads Sour Watermelon Soda 355ml" class="savanyu-uditok-kep">
        <p>A Warheads Sour Watermelon Soda egy intenzíven savanyú, görögdinnye ízű szénsavas üdítőital, amely ötvözi a Warheads cukorkák jellegzetes, arcfintorító savanyúságát a frissítő görögdinnye ízével, egyedi és merész ízélményt nyújtva.</p> 
        <p class="ar">Ár: 990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="savanyu-uditok-card">
        <h3>Warheads Sour peach soda 355ml</h3> 
        <img src="./assets/uditokImg/Warheads Sour peach soda 355ml.jpg" alt="Warheads Sour peach soda 355ml" class="savanyu-uditok-kep">
        <p>A Warheads Sour Peach Soda egy intenzíven savanyú, őszibarack ízű szénsavas üdítőital, amely ötvözi a Warheads cukorkák jellegzetes, arcfintorító savanyúságát az édes őszibarack zamatával, egyedi és merész ízélményt nyújtva.</p> 
        <p class="ar">Ár: 990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="savanyu-uditok-card">
        <h3>Fanta Lemon Soda 330ml</h3> 
        <img src="./assets/uditokImg/Fanta Lemon Soda 330ml.jpg" alt="Fanta Lemon Soda 330ml" class="savanyu-uditok-kep">
        <p>A Fanta Lemon Soda egy frissítő citrusos üdítőital, amely a zamatos citrom savanykás és élénkítő ízét kínálja, tökéletes egyensúlyt teremtve az édesség és a citrusos frissesség között.</p> 
        <p class="ar">Ár: 480 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="savanyu-uditok-card">
        <h3>Skittles Drink Sour 414ml</h3> 
        <img src="./assets/uditokImg/Skittles Drink Sour 414ml.jpg" alt="Skittles Drink Sour 414ml" class="savanyu-uditok-kep">
        <p>A Skittles Drink Sour egy merész és izgalmas üdítőital, amely a Skittles Sour cukorkák intenzív, savanyú-édes ízvilágát idézi, ötvözve a citrom, zöldalma, eper, szőlő és mandarin fanyar és frissítő ízeit egy stimuláló italban.</p> 
        <p class="ar">Ár: 1790 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="savanyu-uditok-card">
        <h3>Ghost Hydration Drink Sour Patch Kids 500ml</h3> 
        <img src="./assets/uditokImg/Ghost Hydration Drink Sour Patch Kids 500ml.jpg" alt="Ghost Hydration Drink Sour Patch Kids 500ml" class="savanyu-uditok-kep">
        <p>A Ghost Hydration Drink Sour Patch Kids egy egyedi, savanyú cukorkák által inspirált üdítőital, amely ötvözi a Sour Patch Kids cukorkák jellegzetes savanyú-édes ízprofilját egy frissítő és hidratáló formulával.</p> 
        <p class="ar">Ár: 2990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="savanyu-uditok-card">
        <h3>Fanta Lime 500ml</h3> 
        <img src="./assets/uditokImg/Fanta Lime 500ml.jpg" alt="Fanta Lime 500ml" class="savanyu-uditok-kep">
        <p>A Fanta Lime egy frissítően citrusos, élénk lime ízű szénsavas üdítőital, amely tökéletes egyensúlyt teremt az édes és savanykás ízek között.</p> 
        <p class="ar">Ár: 1280 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="savanyu-uditok-card">
        <h3>Ghost Hydration Drink Orange Squeeze 500ml</h3> 
        <img src="./assets/uditokImg/Ghost Hydration Drink Orange Squeeze 500ml.jpg" alt="Ghost Hydration Drink Orange Squeeze 500ml" class="savanyu-uditok-kep">
        <p>Frissítő, lédús narancsos íz enyhe savanykás utóízzel.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="savanyu-uditok-card">
        <h3>Ghost Hydration Drink Lemon Lime 500ml</h3> 
        <img src="./assets/uditokImg/Ghost Hydration Drink Lemon Lime 500ml.jpg" alt="Ghost Hydration Drink Lemon Lime 500ml" class="savanyu-uditok-kep">
        <p>Kiegyensúlyozott, üdítő citrom-lime ízkombináció kellemes savanyú beütéssel.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="savanyu-uditok-card">
        <h3>Ghost Hydration Drink Sour Pink Lemonade 500ml</h3> 
        <img src="./assets/uditokImg/Ghost Hydration Drink Sour Pink Lemonade 500ml.jpg" alt="Ghost Hydration Drink Sour Pink Lemonade 500ml" class="savanyu-uditok-kep">
        <p>Savanykás rózsaszín limonádé íz, frissítő citrusos aromával.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="savanyu-uditok-card">
        <h3>Ghost Energy Drink, Warheads Sour Watermelon 500ml</h3> 
        <img src="./assets/uditokImg/Ghost Energy Drink, Warheads Sour Watermelon 500ml.jpg" alt="Ghost Energy Drink, Warheads Sour Watermelon 500ml" class="savanyu-uditok-kep">
        <p>Intenzív, savanyú görögdinnye ízű energiaital, amely a népszerű Warheads cukorka jellegzetes, csípős-savanyú aromáját idézi, frissítő és energizáló élményt nyújtva.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

    </div>
  </div>
  


